@import "tailwindcss";

@theme {
  --color-brand-primary: #e85631;
  --color-brand-hover: ##e85631;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e293b;
    --primary: #e85631;
    --primary-foreground: #ffffff;
    --border: #e2e8f0;
    --input: #f8fafc;
    --ring: #e85631;
    --radius: 1rem;
  }
}

body {
  background-color: #ffffff !important;
  color: #1e293b;
  font-feature-settings: "rlig" 1, "calt" 1;
}